/OneNB_DevPromoteProject2013_Calculator_1/Soucre/.vs
/OneNB_DevPromoteProject2013_Calculator_1/Soucre/OneNB_DevPromoteProject2013_Calculator_1/bin
/OneNB_DevPromoteProject2013_Calculator_1/Soucre/OneNB_DevPromoteProject2013_Calculator_1/obj